<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!--配置session工厂-->
    <session-factory>
        <!--配置数据库连接-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///hibernate?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <!--配置方言，对应不同的数据库-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--配置数据库连接池-->
        <property name="c3p0.acquire_increment">2</property>
        <property name="c3p0.max_size">2</property>
        <property name="c3p0.min_size">2</property>
        <property name="c3p0.timeout">5000</property>
        <property name="c3p0.max_statements">100</property>
        <property name="c3p0.idle_test_period">3000</property>
        <property name="c3p0.validate">false</property>

        <!--显示自动生成的SQL-->
        <property name="show_sql">true</property>
        <!--自动将session绑定到主线程，在获取当前session的时候不需要重新打开-->
        <property name="current_session_context_class">thread</property>
        <!--设置二级缓存-->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!--设置事务隔离级别-->
        <!--<property name="connection.isolation">4</property>-->


        <!--POJO类的注册-->
        <mapping class="com.kaishengit.pojo.Movie"/>
        <mapping class="com.kaishengit.pojo.Person"/>
        <mapping class="com.kaishengit.pojo.Address"/>
        <mapping class="com.kaishengit.pojo.Student"/>
        <mapping class="com.kaishengit.pojo.Teacher"/>
        <mapping class="com.kaishengit.pojo.Article"/>
        <mapping class="com.kaishengit.pojo.Content"/>
        <mapping class="com.kaishengit.pojo.People"/>
        <mapping class="com.kaishengit.pojo.Card"/>
        <mapping class="com.kaishengit.pojo.Customer"/>



        <!--配置映射文件  注册映射文件-->
        <!--<mapping resource="hbm/Movie.hbm.xml"/>-->
        <!--<mapping resource="hbm/Kaola.hbm.xml"/>-->
        <!--<mapping resource="hbm/KaolaType.hbm.xml"/>-->
        <!--<mapping resource="hbm/Person.hbm.xml"/>-->
        <!--<mapping resource="hbm/Address.hbm.xml"/>-->
        <!--<mapping resource="hbm/Student.hbm.xml"/>-->
        <!--<mapping resource="hbm/Teacher.hbm.xml"/>-->
        <!--<mapping resource="hbm/Card.hbm.xml"/>-->
        <!--<mapping resource="hbm/People.hbm.xml"/>-->
        <!--<mapping resource="hbm/Article.hbm.xml"/>-->
        <!--<mapping resource="hbm/Content.hbm.xml"/>-->
        <!--<mapping resource="hbm/Customer.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>