<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="script" href="css/layout.bcss">
</head>
<body>
    <div layout:fragment="content">
        <h2>hello</h2>
        <h2>hello</h2>
        <h2>hello</h2>
        <h2>hello</h2>
        <h2>hello</h2>
    </div>
    <h3>
        <p layout:fragment="footer">@2017</p>
    </h3>
<script layout:fragment="js1">

</script>
</body>
</html>